.popupContainer{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0, 0.4);
	z-index: 3;
}


.popup{
	width: 50%;
	height: 30%;
	background-color: white;
	border-radius: 15px;
}

@media (max-width: 640px) {
	.popup {
		width: 80%;

	}
}
.animation{
	height: 70%;
	background-size: 25%;
	background-repeat: no-repeat;
	background-position: 100% 100% ;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: reservation 2s;
}

@keyframes reservation {
    0% {
			opacity: 0
    }

    100% {
			opacity: 1
    }
}

.animation p{
	opacity: 0.4;
	margin-right: 20px;
	font-size: 30px;
	text-align: center;
}

.textPopup{
	line-height: 20px;
	text-align: center;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.roomName, .textHour{
	font-weight: 600;
}

.bottomLine{
	display: flex;
	justify-content: space-around;

}

.yesButton, .noButton {
	width: 90px;
	height: 30px;
	margin: 5px;
	box-shadow: 1px 1px 5px;
	border-radius: 10px;
	text-align: center;
	line-height: 30px;
}

.yesButton{
	background-color: #66BB6A;
	font-weight: 600;

}

.noButton{
	background-color: #F44336;
	font-weight: 600;
}

.noButton:hover, .yesButton:hover{
	cursor: pointer;
}
