.home{
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.rooms{
	display: flex;
	flex: 1;
	height: auto;

}

.noRooms{
	z-index: 1;
	text-align: center;
	width: 70%;
	margin-top: 15px;
}

@media (max-width: 640px) {
	.rooms{
		flex-direction: column;
	}
	.filtersMenu{
		width: 100%
	}
}

#primaryHour, #secondHour{
	height: 50px;
	width: 30%;
	margin: 10px;
	font-size: 25px;
	background-color: white;
}
