.home{
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.rooms{
	margin-top: 5px;
	display: flex;
	flex: 1;
	height: auto;
	background-color: green;
}
@media (max-width: 640px) {
	.rooms{
		/*flex-wrap: wrap;*/
		flex-direction: column;
	}
	.filtersMenu{
		width: 100%
	}
}
#primaryHour, #secondHour{
	height: 50px;
	width: 30%;
	margin: 10px;
	font-size: 25px;
	background-color: white;
}
